Calculator.
body
{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(227, 230, 232);
}

#calculator
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(17, 17, 17);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display
{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(55, 55, 54);
    color: white;
}

#keys
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button
{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(67, 66, 66);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover
{
    background-color: rgb(94, 92, 90);
}

button:active
{
    background-color: rgb(123, 119, 118);
}

.operator
{
    background-color: rgb(255, 145, 0);
}

.operator:hover
{
    background-color: rgb(197, 105, 25);
}

.operator:active
{
    background-color: rgb(209, 138, 76);
}

